<h1> Edit Your work! <h1>
  <% if @form_errors %>
    <% @form_errors.each do |error| %>
      <p><%= error %></p>
    <% end %>
  <% end %>
<div class="new-assignment">
  <%= form_for [@assignment, @studentwork] do |a| %>
    <div class="field">
      <%= a.label :work %>
      <%= a.text_area :work %>
    </div>
    <div class="actions">
      <%= a.button "Edit Work", class: "button small" %>
    </div>
  <% end %>
</div>
